@use '../../../resources/styles/utility/fonts' as typography;

.Label {
  color: var(--fg-black);
  display: inline-flex;
  flex-direction: column;
  gap: 0.25rem;
}

.Label__text {
  @include typography.dynamic-text-bold(1rem);
  line-height: 1.4;
}

.Label__required {
  color: var(--semantic-color-danger);
}

.Label__helperText {
  @include typography.dynamic-text-regular(0.875rem);
  color: var(--fg-black);
  line-height: 1.5;
  opacity: var(--opacity-muted);
}

.Label--s {
  .Label__text {
    @include typography.dynamic-text-bold(0.875rem);
  }

  .Label__helperText {
    @include typography.dynamic-text-regular(0.75rem);
  }
}

.Label--m {
  .Label__text {
    @include typography.dynamic-text-bold(1rem);
  }

  .Label__helperText {
    @include typography.dynamic-text-regular(0.875rem);
  }
}

.Label--l {
  .Label__text {
    @include typography.dynamic-text-bold(1.125rem);
  }

  .Label__helperText {
    @include typography.dynamic-text-regular(1rem);
  }
}