@use '../functions/functions' as functions;
@use '../tokens/config' as config;
@use 'sass:map';

/** UTILITY: Colors **/
@each $ct, $cd, $cp in config.$color-types {
  /*! #{$cd} */
  @each $style in config.$colors {
    $type: map.get($style, 'type');

    /*! #{$type} */
    $shades: functions.utilityColor($type, $ct, $style);
    @each $shade, $value in $shades {
      @if $ct == 'bg' {
        #{$shade} {
          background-color: #{$value};
        }
      } @else {
        #{$shade} {
          color: #{$value};
        }
      }
    }
  }
}
