@use '../functions/functions' as functions;
@use '../tokens/config' as config;
@use 'sass:map';

@each $style in config.$fonts {
  $type: map.get($style, 'type');
  @each $s in map.get($style, 'sizes') {
    $v: $type + '-' + functions.fontSizeClassToken($s);
    .#{$v} {
      font-family: '#{$type}';
      font-size: functions.pxToRem($s);
    }
  }
}

@mixin dynamic-text-regular($size) {
  font-family: 'main-text-regular', sans-serif;
  font-size: $size;
}

@mixin dynamic-text-bold($size) {
  font-family: 'main-text-bold', sans-serif;
  font-size: $size;
}
@mixin dynamic-text-generic($fontfamily, $size) {
  font-family: $fontfamily, sans-serif;
  font-size: $size;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}
